<h1>こちらはテスト用のページです(Home#index)</h1>
<h3>
  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.name %>!</p>
    <p>あなたのID名: <%= current_user.beebits_name %></p>
  <% end %>
</h3>

<%= link_to 'Timelines#indexへ移動', root_path %>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>

<h4>登録ユーザー</h4>
<% @users.each do |user| %>
  <div>
    <p>ユーザー名: <%= user.name %></p>
    <p>生年月日: <%= user.birthdate %></p>
    <p>beebits_name: <%= user.beebits_name %></p>
    <p>作成日時: <%= user.created_at %></p>
  </div>
<% end %>

<% if user_signed_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
  <p>あなたのID名は <%= current_user.beebits_name %></p>
<% end %>
