<div>
  <div>
    <strong><%= link_to timeline.user.name, user_profile_path(timeline.user) %></strong> <%= timeline.user.beebits_name %>
  </div>
  <div>
    <%= timeline.content %>
  </div>
  <% if current_user == timeline.user %>
    <%= button_to "削除", timeline_path(timeline), method: :delete, data: { confirm: '本当に削除しますか?' } %>
  <% end %>
  <% if current_user.favorited_by?(timeline.id) %>
    <%= button_to 'いいねを外す', destroy_favorite_path(timeline), method: :delete %> <%= timeline.favorites.count %>
  <% else %>
    <%= button_to 'いいね', add_to_favorites_path(timeline), method: :post %> <%= timeline.favorites.count %>
  <% end %>
</div>
