<p>Welcome, <%= current_user.name %>!</p>
<p>あなたのID名は <%= current_user.beebits_name %></p>
<%= link_to '自分のプロフィール', user_profile_path(current_user) %>

<div>
  <%= form_with(model: @timeline, url: timelines_path, local: true) do |form| %>
    <div>
      <%= form.label :content, "投稿内容:" %>
      <%= form.text_area :content, id: 'content', rows: 4 %>
      <%= form.submit "投稿", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<% @timelines.each do |timeline| %>
  <%= render 'timelines/timeline', timeline: timeline %>
<% end %>

<%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
